.banner1{
    border: 5px;
    border-color:red; 
    border-style: ridge;
    padding-top:5rem;
    
}


.navbar1{
    border: 1px;
    border-color: red;
    border-style: ridge;
    padding:auto ;
    background-color:#2F4F4F ;
}
