.banner1{
    border: 5px;
    border-color:red; 
    border-style: ridge;
    padding:auto;
    
}


.navbar1{
    padding-bottom:2rem;
    border: 1px;
    border-color: red;
    border-style: ridge;
    padding:auto ;
}
